body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  background-color: black;
}

h1 {
  color:gray
}

p {
  color:gray
}

.image-container {
  text-align: center;
}