body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  background-color: black;
}

h1 {
  color:rgb(49, 49, 49)
}

p {
  color:rgb(49, 49, 49)
}

button {
  float: right;
}

.image-container {
  text-align: left;
}